.offset {
    height: var(--header-height);
}

.header {
    background: var(--bg2);
    height: var(--header-height);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header__content {
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--md-spacing);
    transition: 0.3s ease padding;
}

@media (min-width: 64em) {
    .header__content {
        padding: 0 var(--lg-spacing);
    }
}

.header__content__logo {
    font-size: 24px;
    font-weight: 500;
}
